* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
#titulo{
    font-size: 5em;
    color: white;
}
/* Header */

 header {
    width: 100%;
    height: 600px;
    background: #03a3c7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)), url(../IMG/oficina.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(214, 72%, 37%, 0.459), hsla(221, 90%, 49%, 0.664)), url(../img/oficina6.jpg);
    font-size: 1.5em;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */

main .sobre-nosotros{
    padding: 30px 0 60px 0;
}
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */


.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273,91%,27%, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #fff;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/*  Our team */

.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}


.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

footer{
    width:100%;
    background:#202020;
    color:white;
   
  }
  .container-footer-all{
    margin:auto;
    width:100%;
    max-width: 1200px;
    padding:40px;
  }
  .container-body{
    display:flex;
    justify-content: space-between;
  }
  .column1{
    max-width:400px;
  }
  .column1 h1{
     font-size:22px;
  }
  .column1 p{
   font-size: 17px; 
   color:#C7C7C7;
   margin-top:20px;     
  }
  
  .column2{
    max-width: 400px;
  }
  .column2 h1{
    font-size: 22px;
  }
   .row{
    margin-top:20px;
    display:flex;
  }
  .row img{
    width:36px;
    height:36px;
    transition:all 300ms;
  }
  .row img:hover{
    transition:all 300ms;
    transform: scale(1.2);
    
  }
  
  .row label{
    margin-top:10px;
    margin-left:20px;
    color:#C7C7C7;
  }
  .column3{
    max-width: 400px;
  }
  
  .column3 h1{
    font-size:22px;
  }
  .row2{
    margin-top:20px;
  }
  .row2 img{
    width:36px;
    height:36px;
  }
  .row2 label{
    margin-left:20px;
    max-width: 150px;
  
  }
  .container-footer{
    max-width: 100%;
    background:#101010;
    padding:20px;
    text-align: center;
  }
  .copyright{
    color:#C7C7C7;
  
  }

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 44%;
    }

    /* Clientes */

    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }

    /* servicios */

    .servicio-cont{
        justify-content: center;
        flex-direction: column;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img{
        width: 90%;
    }
}

@media screen and (max-width:500px){
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }

    /* Clients */

    .cards .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards .card img{
        width: 90px;
        height: 90px;
    }
}
@import url('https://fonts.googleapis.com/css?family=Raleway|Montserrat:400,700,800');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
}

.contenedor {
	width: 100%;
}

header {
	width: 100%;
	margin: auto;
}

header h1, header h3 {
	font-size: 40px;
	color: #555;
	font-weight: bold;
	text-align: center;
	transform: translateY(-20px);
	opacity: 0;
	transition: all .3s;
}

header h3 {
	font-size: 21px;
	letter-spacing: 6px;
	padding-left: 8px;
	transition: all .5s;
}

.active {
	transform: translateY(0);
	opacity: 1;
}

#roraima, #kukenan, #salto-angel {
	background-attachment: fixed;
	background-color: #444;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 250px 0;
}

#kukenan {
	background-image: url(https://static.thousandwonders.net/Kuken%C3%A1n.640.1728.jpg);
	}

#salto-angel {
	background-image: url(https://www.desktopbackground.org/download/o/2015/12/08/1054106_dragon-falls-venezuela-waterfall-south-america-nature_1920x1200_h.jpg);

}

.parallax {
	width: 100%;
	margin: auto;
}

.title-parallax {
	text-align: center;
	font-size: 60px;
	color: white;
	font-weight: bold;
}

.contenedor-texto {
	width: 60%;
	margin: auto;
}

section {
	overflow: hidden;
}
p {
	font-family: 'Raleway', sans-serif;
	margin: 45px 0;
	line-height: 25px;
	font-size: 20px;
}

div p:first-child:first-letter {
	font-size: 30px;
	padding: 10px 2px 0 0;
	font-weight: bold;
	color: #555;
}

hr {
	width: 240px;
	border: 3px solid gray;
	margin: auto;
}
@media all and (max-width: 800px) {
	.contenedor-texto {
		width: 75%;
	}
	#roraima, #kukenan, #salto-angel {
		padding: 200px 0;
	}
	h1.title-parallax {
		font-size: 52px;
	}
	hr {
		width: 100px;
	}
	h1.title-header {
    	font-size: 35px;
	}
	header h3 {
		font-size: 17px;
		padding-left: 9px;
	}
}

@media all and (max-width: 400px) {
	.contenedor-texto {
		width: 80%;
	}
	#roraima, #kukenan, #salto-angel {
		padding: 150px 0;
	}
	h1.title-parallax {
		font-size: 45px;
	}
	hr {
		width: 60px;
	}
	h1.title-header {
    	font-size: 30px;
	}
	header h3 {
		font-size: 13px;
		padding-left: 10px;
	}
	body {
		padding: 14px;
	}
}

.animation-box {
    width: 75%;
    height: 27.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  
  .animation-container {
    width: 1000rem;
    height: 30rem;
  }
  
  @keyframes topFadeOut {
    0% {
      position: absolute;
      top: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes bottomFadeOut {
    0% {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      bottom: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
    
  }
  
  @keyframes topFadeOutVertical {
    0% {
      position: absolute;
      top: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      top: 45%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }
  
  @keyframes rightFadeInOut {
    0% {
      position: absolute;
      right: -3rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      right: 10rem;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
      right: 10rem;
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
  
    45% {
      opacity: 1;
    }
  
    100% {
      opacity: 0%;
    }
  }
  
  .first-text {
    font-size: 4.4rem;
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 0;
    animation-name: topFadeOut;
    animation-duration: 5s;
    color: white;
  }
  
  .second-text {
    font-size: 3.4rem;
    position: absolute;
    top: 8.5rem;
    opacity: 0;
    animation-name: rightFadeInOut;
    animation-delay: 3s;
    animation-duration: 6s;
    color: #ccc;
  }
  
  .third-text {
    transform: rotate(-90deg);
    font-size: 2rem;
    position: absolute;
    left: 45%;
    top: 45%;
    opacity: 0;
    animation-name: topFadeOutVertical;
    animation-delay: 7.5s;
    animation-duration: 6s;
    color: #A3DDF0;
    white-space: nowrap;
  }
  
  .fourth-text {
    font-size: 3.4rem;
    position: absolute;
    top: 10.5rem;
    left: 10%;
    opacity: 0;
    color: #F0A3BE;
    animation-name: fadeInOut;
    animation-delay: 8.5s;
    animation-duration: 9s;
  }
  
  .fifth-text {
    font-size: 5rem;
    position: absolute;
    left: 5%;
    bottom: 25%;
    opacity: 0;
    color: #F0EBA3;
    animation-name: bottomFadeOut;
    animation-delay: 10s;
    animation-duration: 9s;
  }